.archetypeHeader {
	background: #f4f5f8;
	text-align: center;


	ion-col {
		padding: 16px 0;
	}


	ion-label {
		font-weight: bold;
		font-size: 18px;
	}
}
.archetypeBody {
	text-align: center;
	padding: 8px;
	border-bottom: 1px solid #DEDEDE;
}
