.divider {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}
.reportType {
	margin-top: 48px;
	margin-bottom: 16px;
}
.reportGroupHeader {
	min-height: 49px;
	font-size: 18px;
	font-weight: bold;


	ion-label {
		margin: 12px auto;
	}
}
