.hint {
	font-size: 12px;
	margin: 4px 0 0 16px;
}


ion-row {
	justify-content: center;
	align-items: center;
}


ion-chip {
	height: auto;


	ion-label {
		width: 138px;
	}
}
.inputDivideInGroups {

	ion-checkbox {
		margin-right: 16px;
	}
}
