.heading {
	margin-bottom: 0;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}
ion-item {
	font-size: 14px;


	ion-checkbox {
		margin-right: 12px;
	}


	ion-label {
		white-space: normal;
	}
}
