.gQuestionTitle {
	text-align: center;
	margin: 0 !important;
	color: white;
}
ion-radio {
	margin: 0;
	display: inline-block;
	vertical-align: middle;
}
.rowAnswer {
	font-size: 16px;
}
.sameHeight {
	padding: 18px 5px;
}
.tableHeader {
	background-color: #EF5EA7;
	color: white;


	ion-col {
		padding: 18px 5px;
		font-size: 20px !important;
	}
}
.tableRows:nth-child(even) ion-row {
	background: #F8D1E0;
}
.tableRows:nth-child(odd) ion-row {
	background: #FBE9F0;
}
.tableRows ion-row ion-col:first-child {
	background-color: #EF5EA7;
	color: white;
}
.tableRows ion-row {
	border-top: white solid 1px;
}
.tableRows ion-row ion-col:nth-child(2) {
	background-color: #DDDDDD;
	color: black;
}
.tableRows ion-row ion-col:not(:last-child) {
	border-right: white solid 1px;
}
.tableRows ion-item {
	--background: transparent;
	--ripple-color: var(--backgroundRed);
}
.tableRows ion-item ion-radio {
	--color: var(--control);
	--color-checked: var(--backgroundRed);
}
