ion-row {
	justify-content: flex-end;
	align-items: center;
}
.curPage {
	padding-left: 32px;


	p {
		font-weight: bold;
		margin: 0;
	}
}

.next-previous {
	padding-right: 36px;


	ion-button {
		min-width: 110px;
		text-transform: capitalize;
	}
}
.gBtnNext {
	margin-left: 16px;
}


.copyrights {
	font-size: 13px;
	text-align: right;


	p {
		margin: 4px;
	}
}
