<form [formGroup]="formAddEdit">

	<!-- source -->
	<ion-item class="gInput">
		<ion-label position="floating">Source *</ion-label>
		<ion-select [formControlName]="EnumField.SOURCE" interface="popover" placeholder="Select Type">
			<ion-select-option [value]="EnumSource.TABLE_DROP_DOWN">{{EnumSource.TABLE_DROP_DOWN | snakeToTitleCase}}</ion-select-option>
		</ion-select>
	</ion-item>


	<!-- checkGroup -->
	<div [formGroupName]="EnumField.CHECK_GROUP">

		<!-- minValue -->
		<ion-item class="gInput">
			<ion-label position="floating">Min Answer Limit</ion-label>
			<ion-input [formControlName]="EnumField.MIN_VALUE"></ion-input>
		</ion-item>


		<!-- maxValue -->
		<ion-item class="gInput">
			<ion-label position="floating">Max Answer Limit</ion-label>
			<ion-input [formControlName]="EnumField.MAX_VALUE"></ion-input>
		</ion-item>

	</div>

</form>


<!-- save -->
<div class="gBtnSave">
	<ion-button [disabled]="formAddEdit.invalid" (click)="onSubmit(formAddEdit.value)">Save</ion-button>
</div>
