.traitsCategory {
	background: #f4f5f8;
	text-align: center;
	padding: 8px 0;
	font-weight: bold;
	font-size: 18px;
}
.traitsRow {
	margin: 24px 16px;
}
.traitsQuestionnaire {

	p {
		font-weight: bold;
		margin: 0;
	}
}
.traitsQuestionAnswer {
	margin: 8px 0;
	text-align: center;
}
