<form [formGroup]="formAddEdit">

	<!-- source -->
	<ion-item class="gInput">
		<ion-label position="floating">Source *</ion-label>
		<ion-select [formControlName]="EnumField.SOURCE" interface="popover" placeholder="Select Type">
			<ion-select-option [value]="EnumSource.SLIDER">{{EnumSource.SLIDER | snakeToTitleCase}}</ion-select-option>
		</ion-select>
	</ion-item>


	<!-- tableSkill -->
	<div [formGroupName]="EnumField.TABLE_SKILL">

		<!-- id -->
		<ion-item class="gInput">
			<ion-label position="floating">Data Id *</ion-label>
			<ion-input [formControlName]="EnumField.ID"></ion-input>
		</ion-item>


		<!-- columns -->
		<ng-container [formArrayName]="EnumField.COLUMNS">

			<!-- placeholder -->
			<ion-item class="gInput" *ngFor="let item of inputColumns.controls; index as i">
				<ion-label position="floating">Column {{i + 1}} Title *</ion-label>
				<ion-input [formControlName]="i"></ion-input>
			</ion-item>

		</ng-container>
	</div>


	<!-- options -->
	<div>

		<ion-item class="gInput">
			<ion-label position="floating">Options</ion-label>
			<ion-input [ngModelOptions]="{standalone: true}" placeholder="Type and press enter" ngModel #input="ngModel"
					 (keyup.enter)="onAddOption(input.value); input.reset();"></ion-input>
		</ion-item>


		<ion-grid>
			<ion-row>
				<ion-col size="auto" *ngFor="let item of options; index as i; trackBy: dataManager.onTrackById;">

					<ion-chip (click)="onRemoveOption(i)">
						<ion-label>{{item.name}}</ion-label>
						<ion-icon name="close-circle"></ion-icon>
					</ion-chip>

				</ion-col>
			</ion-row>
		</ion-grid>

	</div>

</form>


<!-- save -->
<div class="gBtnSave">
	<ion-button [disabled]="formAddEdit.invalid" (click)="onSubmit(formAddEdit.value)">Save</ion-button>
</div>
