ion-row {
	align-items: center;
}
ion-grid,
ion-col {
	padding-left: 0;
}


ion-item {
	font-size: 14px;
	//--padding-start: 0;


	ion-radio {
		margin-right: 12px;
	}


	ion-label {
		width: 150px;
		white-space: normal;
	}
}
