<ion-tabs>
	<ion-tab-bar slot="bottom">

		<!-- pages -->
		<ion-tab-button tab="pages">
			<ion-icon name="document"></ion-icon>
			<ion-label>Pages</ion-label>
		</ion-tab-button>


		<!-- categories -->
		<ion-tab-button tab="categories">
			<ion-icon name="apps"></ion-icon>
			<ion-label>Categories</ion-label>
		</ion-tab-button>


		<!-- groups -->
		<ion-tab-button tab="groups">
			<ion-icon name="git-branch"></ion-icon>
			<ion-label>Groups</ion-label>
		</ion-tab-button>

	</ion-tab-bar>
</ion-tabs>
